<!DOCTYPE html>
<html data-ng-app="ChatClient">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript" src="chat_client.js"></script>
	<title>Chat Client</title>
	<link href="styles/chat_client.css" type="text/css" rel="stylesheet" >
</head>
<body>
	<header>
		<nav>
			<ul id="menu_bar"></ul>
		</nav>	
	</header>
	<aside id="userlist_cell">
		<ul id="userlist" data-ng-controller="UserListController">
			<li data-ng-repeat="user in users" class="channel_user" data-ng-click="showOptions(user)">
				<img data-ng-src="{{ user.group.icon }}" alt="{{ user.group.name }}" title='Group: {{ user.group.name }}' />
				{{ user.name }}
			</li>
		</ul>
	</aside>
	<section id="message_cell">
		<span id="messages"></span>
	</section>
	<section id="display_bar">
		<span id="username"></span>
		<input type="text" id="message_input" disabled="disabled" />
		<div id="channel_name"></div>
	</section>
	<div id="error_txt"></div>
</body>
</html>